node_modules
dist
.next
out
*.log
.DS_Store
*.tgz
.git
.gitignore
.env
.env.*
!.env.example
README.md
docker-compose.yml
Dockerfile
.vscode
.idea
coverage
.nyc_output
uploads/*
!.uploads/.gitkeep
*.tsbuildinfo
